body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    background-image: url(images/table.png);
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: white;
}

h1 {
  color: goldenrod;
}

#message-el {
    font-style: italic;
}

#button-el {
    color: #016f32;
    background-color: goldenrod;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}